doctype html
html
  head
    title Raja Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul#navigaion
            div#logo
                img(src="/static/img/777.jpg")
                h4 RDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer
        | Copyright © 2020 RajaDanceAcademy.com | All rights reserved
    